@font-face {
  font-family: product-sans;
  src: url(../src/assets/Product\ Sans\ Regular.ttf);
}
*{
  font-family: product-sans;
}
*:before,
*:after {}

html {
  background-color: #E8E8E8;
}
#root{
  background-color: #E8E8E8;
}
.alert-success{
  background-color: rgba(0, 255, 117,0.1);
  color : rgb(0, 255, 117);
}